# Postgres資料庫連線資訊
DATABASE_URL: postgresql://smsUser:smsPassword@localhost/sms_db?schema=public

# 添加簡訊描述的範本，在`create-template`腳本使用
NEW_DESCRIPTION='歡迎回來漢堡王！結帳時輸入您的專屬折購碼【{{coupon}}】即可享受特別優惠。活動詳情請至門市查詢。'

# 簡訊任務的 MessageTemplate ID，必須是有效的整數，用來標識對應的訊息模板，在`prepare-task-list`腳本使用
PREPARE_TASK_MESSAGE_ID=1

# 簡訊任務清單的檔案名稱，包含客戶手機號碼和優惠代碼（可選），在`prepare-task-list`腳本使用
PREPARE_TASK_LIST_FILENAME='test_list_message_id_1'

# 是否跳過優惠代碼的模式，預設為false，表示不跳過，在`prepare-task-list`腳本使用
PREPARE_SKIP_COUPON_MODE=false

# 設定未來要發送簡訊的任務清單名稱，在`prepare-task-list`腳本使用
PREPARE_TASK_TOPIC='測試發送簡訊_20250121'

# 模組清單: ExampleSmsSender, MitakeSmsSender，在`send-sms`腳本使用
# 選擇發送簡訊的模式，ExampleSmsSender為範例模式，不會真的發送簡訊
SENDER_MODE='ExampleSmsSender'

# 指定要發送簡訊的任務清單名稱，在`send-sms`腳本使用
SEND_JOB_TOPIC_DESCRIBE='測試發送簡訊_20250121'
